
/*-------------------*/
/* Custom Properties */
/*-------------------*/

:root{
    --clr-primary: 258, 31%, 15%;
    --clr-secondary:260, 23%, 53%;

    --clr-light: 0, 100%, 100%;

    --fs-900: 4.5rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;

    --fw-700: 700;
    --fw-400: 400;

    --mt-xs: .25em;
    --mt-sm: .375em;
    --mt-md: 1em;

    --border-radius-sm: 5px;
    --border-radius-md: 10px;
}

/*-------*/
/* Reset */
/*-------*/

body{
    margin: 0;
    padding-inline: 1em;
    max-height: 100vh;
    font-family: 'Puritan', sans-serif;
    color: hsl(var(--clr-light));
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-primary));
}

h1, h2, p{
    margin: 0;
    padding: 0;
}

* { box-sizing: border-box; }


/*-----------------*/
/* Utility Classes */
/*-----------------*/

/* layout */
.flex{display: flex;}
.justify-between{justify-content: space-between;}
.flex-wrap{flex-wrap: wrap;}

.container{
    width: 40vw;
    margin: 0 auto;
}

.mt-xs{margin-top:var(--mt-xs);}
.mt-sm{margin-top:var(--mt-sm);}
.mt-md{margin-top:var(--mt-md);}

/*------------*/
/* Components */
/*------------*/

h1{
    font-family: 'Geo', sans-serif;
    font-size: var(--fs-900);
    letter-spacing: 0.25em;
    text-align: center;
}

.action-btn{
    background-color: hsl(var(--clr-secondary));
    color: hsl(var(--clr-light));
    font-weight: var(--fw-700);
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
}

.action-btn:hover,
.action-btn:focus{
    background-color: hsla(var(--clr-secondary),50%);
}

.action-btn:active{
    transform: scale(0.95);
}

.action-btn,
input[type=text]{
    padding: .675em 1.5em;
}

input[type=text]{
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    border-radius: var(--border-radius-sm);
}


.grid-container-outer{
    height: 40vw;
    width: 40vw;
    padding: 2em;
    background-color: hsl(var(--clr-secondary));
    border-radius: var(--border-radius-md);
}

#grid-container{
    height: 100%;
    width: 100%;
}

.box{
    width: calc(100% * (1/4));
    height: calc(100% * (1/4));
    background-color: hsl(var(--clr-light));
    border: 1px solid gray;
}